* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    background-color: #20253d;
}

.contact_form_container {
    position: relative;
    width: 400px;
    height: 520px;
    max-width: 400px;
    max-height: 520px;
    background: #172367;
    border-radius: 50px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 70px;
}

.contact_form_container::before {
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #ee00ff);
    animation: rotate_border 6s linear infinite;
}

.contact_form_container::after {
    position: absolute;
    width: 170%;
    height: 170%;
    content: '';
    background-image: conic-gradient(transparent, transparent, transparent, #00ccff);
    animation: rotate_border 6s linear infinite;
    animation-delay: -3s;
}

@keyframes rotate_border {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.contact_form {
    position: absolute;
    content: '';
    background-color: #0c1022;
    border-radius: 50px 5px;
    inset: 5px;
    padding: 50px 40px;
    z-index: 10;
    color: #00ccff;
}

h2 {
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}

.input_group {
    margin-top: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.input_text,
textarea {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #00ccff;
    font-size: 20px;
    padding-left: 10px;
    color: #00ccff;
    margin-bottom: 20px;
}

textarea {
    height: 80px;
    resize: none;
}

::placeholder {
    font-size: 15px;
    color: #21ec0a52;
    letter-spacing: 1px;
}

#contact_button {
    position: relative;
    width: 100%;
    height: 40px;
    transition: 1s;
    margin-top: 20px;
}

#contact_button button {
    position: absolute;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 10;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 2px;
    border: 1px solid #00ccff;
    border-radius: 50px;
    background-color: #0c1022;
    color: #00ccff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
}

#contact_button button:hover {
    background-color: #00ccff;
    color: #0c1022;
}
